# فایل‌های پایتون
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# محیط‌های مجازی
venv/
env/
ENV/
.env

# فایل‌های دیتابیس
*.db
*.sqlite3

# فایل‌های لاگ
*.log

# فایل‌های مدل
*.joblib
*.pkl
*.h5

# فایل‌های IDE
.idea/
.vscode/
*.swp
*.swo

# فایل‌های سیستم عامل
.DS_Store
Thumbs.db 